<div class="col-xs-6">
  <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 category-listing">
    <div class="media">
      <div class="clearfix "></div>
      <div class="fnt-smaller">
        <h4 class="media-heading">
          <%= link_to(product[0].title.truncate(42), product[0], class: 'title') %>
        </h4>

        <div class="col-xs-4 category-pricing">
          <%= link_to(image_tag(product[0].small_image_url, class: "img-responsive category-image"), product[0]) %>
          <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
            <li>Average: <strong><%= ProductCurrency.format_money(product[0].current_average_price) %></strong></li>
            <br/>
            <li>Current: <strong><%= ProductCurrency.format_money(product[0].current_price) %></strong></li>
            <br/>
            <% if product[2] > 0 %>
              <% percent_style = "text-success" %>
            <% elsif product[2] < 0 %>
              <% percent_style = "text-danger" %>
            <% end %>
            <li>Discount: <strong>
              <span class="<%= percent_style %>"><%= NumberFormatter.format_percentage(product[2]).first %></span>
            </strong></li>
          </ul>

          <%= link_to product[0].detail_page_url, class: 'btn category-buy-now btn-xs', target: '_blank' do %>
            <span class="glyphicon glyphicon-shopping-cart"></span> Buy now!
          <% end %>
          <% if logged_in? && current_user.tracked?(product[0]) %>
          <% else %>
            <%= link_to product_my_products_path(product[0]), method: :post, class: 'btn btn-success btn-xs track-it-xs' do %>
              Track-it <span class="glyphicon glyphicon-ok-circle"> </span>
            <% end %>
          <% end %>
        </div>
        <div class="col-xs-8">
          <%= line_chart(
                product[1],
                {
                  height: "185px", discrete: true, library:
                  {
                    chartArea:
                      {
                        top: 15, left: 35, width: '80%'
                      }, vAxis:
                      {
                        format: '$#,###'
                      },
                    hAxis:
                      {
                        slantedText: true, slantedTextAngle: 90
                      }
                  }
                }
              ) %>
        </div>
      </div>
    </div>
  </div>
</div>