
<div class="container">
  <div class="loginbox mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">Reset Password</div>
      </div>
      <div class="panel-body login-panel">
        <% if flash[:alert] %>
          <div class="login-alert alert alert-danger col-sm-12">
            <div><%= flash[:alert] %></div>
          </div>
        <% end %>

        <%= form_for @user, :url => password_reset_path(@user), :html => {:method => :put} do |f| %>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <%= f.password_field :password_confirmation, placeholder: 'Password confirmation', class: 'form-control' %>
          </div>
          <%= hidden_field_tag :token, @token %>
          <div class="form-group">
            <div class="col-sm-12 controls">
              <%= f.submit 'Reset Password', class: "btn btn-success pull-right" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
