<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1><%= @user.email %> the time to buy <%= @product.title %> is now!</h1>

<% if @product.features %>
  <p> You can have the benefit of:
    <% @product.features.each do |feature| %>
    <ul>
      <li><%= feature %></li>
    </ul>
    at a massive discount.
  <% end %>
  </p>
<% end %>

<p>
  To see what a good deal you are getting visit <%= @product.title %>'s page on
  <a href='<%= @product.detail_page_url %>'>Amazon</a>
</p>

<p>Thanks for using <a href="www.massmetrics.com">Mass Metrics</a> and stay JACKED!</p>
</body>
</html>