<div class="panel panel-default ">
  <div class="panel-heading">
    <h3 class="panel-title">My Products</h3>
  </div>
  <div class="panel-body my-products-panel">
    <ul class="list-group my-products">
      <% @my_products.each do |product| %>
        <div class="col-xs-12 list-group-item <%= cycle("my-products-light", "my-products-dark") -%>">
          <div class="col-xs-5">
            <li class="list-unstyled"><%= link_to product.product.title, product.product, class: 'my-product-title' %></li>
            </br>
            <% if product.product.percent_discount > 0 %>
              <% percent_style = "text-success" %>
            <% elsif product.product.percent_discount < 0 %>
              <% percent_style = "text-danger" %>
            <% end %>
            <li class="list-unstyled">Current discount: <strong>
              <span class="<%= percent_style %>"><%= NumberFormatter.format_percentage(product.product.percent_discount).first %></span>
            </strong></li>
            <br>
            <%= form_for @my_product_notification do |f| %>
              <% if product.my_products_notification %>
                <% discount = product.my_products_notification.discount %>
              <% else %>
                <% discount = '' %>
              <% end %>
              <%= hidden_field_tag :my_product, product.id -%>
              <%= f.label "Target discount:" %>
              <%= f.text_field :discount, value: discount, size: 3 %>  %<br/>

              <div class="notification-button-wrapper">
                <% if product.my_products_notification %>
                  <%= link_to 'Remove', my_products_notification_path(product.my_products_notification), class: 'btn btn-xs remove-notification ', method: :delete %>
                <% end %>
                <%= f.submit 'Save notification', class: 'btn-xs save-notification' %>
            <% end -%>
            </div>
          </div>
          <div class="col-xs-5"><%= line_chart(product.product.price_log_hash,
                                               {
                                                 height: "150px", discrete: true, library:
                                                 {
                                                   chartArea:
                                                     {
                                                       top: 15, left: 35, width: '90%'
                                                     }, vAxis:
                                                     {
                                                       format: '$#,###'
                                                     },
                                                   hAxis:
                                                     {
                                                       slantedText: true, slantedTextAngle: 90
                                                     }
                                                 }
                                               }) %></div>
          <div class="col-xs-2 my-products-button">
            <%= link_to product.product.detail_page_url, class: 'btn btn-small buy-now-small ' do %>
              <span class="glyphicon glyphicon-shopping-cart"></span> Buy now!
            <% end %>
            <%= link_to product_my_product_path(product.product, product), class: 'btn btn-danger untrack ', method: :delete do %>
              Untrack <span class="glyphicon glyphicon-remove-circle"></span>
            <% end %>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>