<div class="row">
  <h1 class="text-center header"><span class="well">Featured items</span></h1>
</div>
<div class="row row-margin-bottom">
  <% @products.each_with_index do |product, index| %>
    <% if index.even? %>
      <% margin = "product-even" %>
    <% else %>
      <% margin = "product-odd" %>
    <% end %>
    <div class="col-xs-5 no-padding lib-item" data-category="view">
      <div class="lib-panel <%= margin %>">
        <div class="row box-shadow">
          <div class="col-xs-4">
            <img class="lib-img-show" src="<%= product[0].large_image_url %>">
          </div>
          <div class="col-xs-8">
            <div class="lib-row lib-header">
              <%= link_to truncate(product[0].title, length: 45, omission: '...'), product[0], id: "#title" %>
              <div class="lib-header-seperator"></div>
              <small>Current Price: <%= ProductCurrency.format_money(product[0].current_price) %></small>
              <small>Discount from average: <%= NumberFormatter.format_percentage(product[0].percent_discount)[0] %></small>
              <div class="lib-header-seperator"></div>
            </div>
            <div class="lib-row lib-desc">
              <ul>
                <% product[0].features[0..2].each do |feature, index| %>
                  <li><%= truncate(feature, length: 50, omission: '...') %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if index.even? %>
      <div class="col-xs-2"></div>
    <% end %>
  <% end %>
</div>