<div class="col-xs-10 col-xs-offset-1">
  <div class="profile">
    <div class="col-xs-12 product-show-container">
      <div class="col-xs-6 text-center">
        <figure>
          <img src="<%= @product.large_image_url %>" alt="" class="img-responsive">
        </figure>
      </div>
      <div class="col-xs-6 ">
        <div class="title-description">
          <h2><%= @product.title %></h2>

          <p><strong>Average price: </strong><%= ProductCurrency.format_money(@product.average_price) %></p>

          <p><strong>Current price: </strong><%= ProductCurrency.format_money(@product.current_price) %></p>

          <p>
            <strong>Percent discount: </strong>
            <% if @product.percent_discount > 0 %>
              <% percent_style = "text-success" %>
            <% elsif @product.percent_discount < 0 %>
              <% percent_style = "text-danger" %>
            <% end %>
            <span class="<%= percent_style %>"><%= NumberFormatter.format_percentage(@product.percent_discount).first %></span>
          </p><br/>

          <p><strong>Features: </strong><br/>
        </div>
        <ul>
          <% @product.features.each do |feature| %>
            <li><%= feature %></li>
          <% end %>
        </ul>
        </p>
        <div class="text-center">
          <p>
            <%= link_to @product.detail_page_url, class: 'btn buy-now ' do %>
              <span class="glyphicon glyphicon-shopping-cart"></span> Buy now!
            <% end %>
            <%= link_to @product.review_url, class: 'btn reviews ' do %>
              Read Reviews <span class="glyphicon glyphicon-list-alt"></span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-8 col-sm-10 col-md-12 divider text-center">
      <%= line_chart(@chart_hash, {library: {vAxis: {format: '$#,###'}}}) %>
    </div>
  </div>
</div>