<ul>
  <%= link_to 'Add New Product', new_admin_product_path %>
  <% @products.each do |product| %>
    <li id="<%= product.sku %>">
      <%= product.title %>
      <%= link_to 'Edit', edit_admin_product_path(product) %>
      <%= link_to 'Delete', admin_product_path(product), method: :delete %>
    </li>
  <% end %>
</ul>