<div class="container">
  <div class="col-xs-2">
    <div class="alert text-center category-heading h3"><strong>Topics</strong></div>
    <nav class="nav-sidebar intro-nav">
      <ul class="nav text-center ">
        <li>Product Sorting</li>
        <li>Track a product</li>
        <li>Receive notifications</li>
        <li>Suggest a product</li>
        <li>How it works</li>
        <li>How we use your info</li>
      </ul>
    </nav>
  </div>
  <div class="col-xs-10 ">
    <div class="panel panel-default ">
      <div class="panel-body text-center intro-panel">
        <p>Mass Metrics is a tool which allows users to track the price of supplements
          and health products over time. You can read the brief tutorial below or
          click <%= link_to 'Here', category_index_path %> to get started now. </p>
      </div>
    </div>
  </div>
  <div class="col-xs-10 ">
    <div class="container-fluid cards-wrapper">
      <div class="col-xs-12 instruction-heading h3">Product sorting</div>
      <div class="col-xs-4">
        <div class="instructions h4">When you visit the home page, the 10 best deals from all of the categories are sorted
          with the biggest discounts being shown first.
          You can click on any category from the side menu to see the best deals from that particular category.
        </div>
      </div>
      <div class="col-xs-8 instruction-photo ">
        <%= image_tag('product-sort.png', class: 'img-responsive') %>
      </div>
      <div class="col-xs-12 instruction-heading h3">Track a product</div>

      <div class="col-xs-4">
        <div class="instructions h4">In order to track a product, you must create an account by clicking the register
          link at the top of the page, entering your email and password and clicking register(Don't worry, we wont send
          you any emails you don't specifically request.)  Once you have registered, you can click the
          "Track-it" button on any product on the site.  You will then be brought to the "My Products" page where you
          will see a list of all of the products you have chosen to track.
        </div>
      </div>
      <div class="col-xs-8 instruction-photo ">
        <%= image_tag('track-product.png', class: 'img-responsive') %>
      </div>
      <div class="col-xs-12 instruction-heading h3">Receive notifications</div>
      <div class="col-xs-4">
        <div class="instructions h4">Registered users can receive a notification for a tracked product by setting
          a "Target discount".  When the "Current discount" reaches the "Target discount", an email will be sent to
          your registered email address.  You will not receive more than a single email per day and a reminder email will be sent
          once per week until you remove the notification.
        </div>
      </div>
      <div class="col-xs-8 instruction-photo ">
        <%= image_tag('receive-notifications.png', class: 'img-responsive') %>
      </div>
      <div class="instruction-heading h3 col-xs-12">Suggest a product</div>

      <div class="col-xs-4">
        <div class="instructions h4">If there is a product that is not on our site but you would like to track you can
          suggest it by clicking the "Suggest a product" tab.  Simply get the sku from the url on the amazon product
          page(pictured) and enter it in the "Enter SKU from Amazon" field.  You can also suggest multiple categories by
          separating each category with a comma as pictured.
        </div>
      </div>
      <div class="col-xs-8 instruction-photo  ">
        <%= image_tag('amazon-url.png', class: 'img-responsive') %>
        <%= image_tag('suggest-product.png', class: 'img-responsive') %>
      </div>
      <div class="col-xs-12 instruction-heading h3">How it works</div>
      <div class="col-xs-4">
        <div class="instructions h4">Each day Mass Metrics will look up the price of an item on Amazon and create a record of that price.
          The prices over the most recent 30 days are averaged to calculate the average price.  The current price is then compared
          with the average price to determine the percent discount.  Due to irregularities in Amazon's pricing based on your
          location, the listed price on Mass Metrics may differ slightly from your purchase price. If you like what we are doing at
          Mass Metrics please share the site with your friends and help us help you get jacked!
        </div>
      </div>
      <div class="col-xs-8 instruction-photo ">
        <%= image_tag('how-it-works.png', class: 'img-responsive') %>
      </div>

    </div>
  </div>
</div>