<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags :site => 'Mass Metrics' %>
</head>
<body>
<div class="container">
  <%= render partial: "layouts/nav" %>
  <% if flash[:notice] %>
    <div class="alert alert-danger">
      <p class="text-center"><%= flash[:notice] %></p>
    </div>
  <% end %>
  <%= yield %>
  <%= render partial: "layouts/footer" %>
</div>

<%= render 'layouts/analytics' %>
</body>
</html>
